NODE_ENV=production
PORT=3002
LOG_LEVEL=info

# Database
DB_PASSWORD=CHANGE_THIS_PASSWORD

# AWS IoT Core - CONFIGURAR CON TUS VALORES
AWS_IOT_ENDPOINT=a3rrbz0ypehoz3-ats.iot.us-east-2.amazonaws.com
AWS_IOT_CLIENT_ID=backend-subscriber-testingiot

# MQTT Topics
MQTT_TOPICS_TELEMETRY=factory/+/+/+/gateway/+/telemetry

# Firebase Admin
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=your-firebase-client-email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
ADMIN_EMAILS=admin@tuempresa.com,admin2@tuempresa.com

PERSIST_DEFAULT_MODE=none

# Redis
REDIS_PREFIX=iot

# CORS
CORS_ORIGIN=https://testingiot.seiminteractive.io
